<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/stylesheets/user.css">
    <link rel="stylesheet" href="assets/bootstrap/fonts/font-awesome.min.css">
</head>

<body>
    
    <div class="jumbotron hero">
        <button aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2"><img class="img-rounded img-responsive" src="assets/images/EdTixg46.jpg" width="260" height="346"></div>
                <div class="col-md-7 col-md-offset-0">
                    <h1 class="text-center">طلب مساعدة </h1></div>
            </div>
        </div>
    </div>
    <section class="testimonials"></section>
    <footer class="show site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>oct © 2015</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><span class="fa fa-facebook"></span></a><a href="#"><span class="fa fa-twitter"></span></a><a href="#"><span class="fa fa-instagram"></span></a></div>
            </div>
        </div>
        <div></div>
    </footer>
    <script src="assets/javascripts/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>