<!DOCTYPE html>
<html>



<body>
    
    <br></br><br></br>
    <div class="center jumbotron">
        
  <h1>طلب مساعدة</h1>
  <p>...</p>
  <%= link_to "Request a help", getlocation_path, class: "btn btn-primary btn-lg"%>
  <button type="button">Click Me</button>
</div>

</body>

</html>