
<footer class="show site-footer">
        
            <div class="row">
                <div class="col-sm-6">
                    <h5>Copyright © 2015 Sa3ied Project. All rights reserved.</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><span class="fa fa-facebook"></span></a><a href="#"><span class="fa fa-twitter"></span></a><a href="#"><span class="fa fa-instagram"></span></a></div>
            </div>
       
        <div></div>
    </footer>

