<div class="form-group">
  

<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Volunteers" %>
<%= submit_tag "Search" , :name => nil%>
<% end %>

</div>
